<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Sharon Jebitok</h1>
    <p>I'm profecient with React, Ruby on Rails, Nodejs.</p>
    <p>Looking for a team that needs a backend developer.</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>