<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
    body {
        box-sizing: border-box;
    }

    form {
        /* margin: 10%; */
        width: 400px;
        /* margin: 10% 40%; */
    }

    textarea {
        height: 300px;
    }
</style>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div>
    <h1 class="text-center bg-light text-success">SHARON JEBITOK</h1>
    <p><span>sharonkosgei4@gmail.com</span>||<span>https://github.com/jebitok-dev</span></p>
    <p>Looking for a team that needs a backend developer.</p>
  </div>
  <div>
    <h1 class="text-center text-success">PROFILE</h1>
    <p>Full-Stack Developer that is actively learning and practicing to grow her developer skills. Knowledgeable in the user interface, testing, and debugging processes. Bringing forth expertise in front-end development, installation, testing, and maintenance of web systems. Equipped with a diverse and promising skill-set. Proficient in an assortment of technologies, including JavaScript, React, CSS, HTML, bootstrap, Ruby, SQL, Ruby on Rails, Nodejs, and MongoDB,. Able to effectively self-manage with minimal guidance during independent projects, as well as collaborate in a team setting.</p>
  </div>
  <div>
    <h1 class="text-center text-success bg-light">EDUCATION</h1>
    <p><span>11/2020 - Present</span> <span class="font-weight-bold">Software Development,</span>Microverse</p>
    <p><span>Remote</span>          spent 1000+ hours mastering algorithms, data structures and full-stack development while simultaneously developing proojects with Ruby on Rails, Javascript, React and Redux. Developed skills in remote pair-programming and daily standups to communicate and collaborate with international remote developers.</p>    
    <p><span>02/2021 - 04/2021</span> <span class="font-weight-bold">Blockchain Development,</span>Binance</p>
    <p><span>Remote</span> Spent over 8 weeks learning an introduction to blockchain technology i.e cryptocurrency, Decentralized Finance(Defi), Stablecoins(algorithm stable coins, fiat-based stable coins & crypto-based stable coins), how to build smart contracts on Binance Smart Chain(BSC) using ChainIDE, solidity and Metamask & BNB on test net.</p>
    <p><span>01/2020 - 05/2020</span> <span class="font-weight-bold">Lakehub Academy,</span>Kisumu</p>
    <p>Full-Stack JavaScript</p>
  </div>
  <div>
    <h1 class="text-center text-success bg-light">PROFESSIONAL EXPERIENCE</h1>
    <p><span>04/2021 - 05/2021</span> <span class="font-weight-bold">Open-Source Contributhon Intern, </span>SheCodeAfrica x Jenkins</p>
    <p class="font-weight-bold">Remote</p>
    <p><span>01/2021 - Currently</span> <span class="font-weight-bold">Development Mentor, </span>Microverse</p>
    <p class="font-weight-bold">Remote</p>
  </div>
  <div class="container">
    <h1 class="font-weight-bold text-center text-success">Please add me to your Team</h1>
            <form class="center" action="/email" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="font-weight-bold">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="font-weight-bold">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" aria-describedby="emailHelp" placeholder="Subject">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="font-weight-bold">Message</label>
                    <textarea class="form-control" id="mesage" name="message" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script>
  $('form').on('submit', (e) => {
      // e.preventDefault();

      const name = $('#name').val().trim();
      const email = $('#from-email').val().trim();
      const subject = $('#subject').val().trim();
      const text = $('#text').val().trim();

      const data = {
          name,
          email,
          subject,
          text
      };

      $.post('/email', data, function() {
          console.log('Server recieved our data');
      });
  });
  // document.getElementById('#form-data').reset();
</script>

</body>
</html>