<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div>
    <h1 class="text-center">SHARON JEBITOK</h1>
    <p><span>sharonkosgei4@gmail.com</span>||<span>https://github.com/jebitok-dev</span></p>
    <p>Looking for a team that needs a backend developer.</p>
  </div>
  <div>
    <h1 class="text-center">PROFILE</h1>
    <p>Full-Stack Developer that is actively learning and practicing to grow her developer skills. Knowledgeable in the user interface, testing, and debugging processes. Bringing forth expertise in front-end development, installation, testing, and maintenance of web systems. Equipped with a diverse and promising skill-set. Proficient in an assortment of technologies, including JavaScript, React, CSS, HTML, bootstrap, Ruby, SQL, Ruby on Rails, Nodejs, and MongoDB,. Able to effectively self-manage with minimal guidance during independent projects, as well as collaborate in a team setting.</p>
  </div>
  <div>
    <h1 class="text-center">EDUCATION</h1>
    <p><span>11/2020 - Present</span> <span class="font-weight-bold">Software Development,</span>Microverse</p>
    <p><span>Remote</span>          spent 1000+ hours mastering algorithms, data structures and full-stack development while simultaneously developing proojects with Ruby on Rails, Javascript, React and Redux. Developed skills in remote pair-programming and daily standups to communicate and collaborate with international remote developers.</p>    
    <p><span>02/2021 - 04/2021</span> <span class="font-weight-bold">Blockchain Development,</span>Binance</p>
    <p><span>Remote</span> Spent over 8 weeks learning an introduction to blockchain technology i.e cryptocurrency, Decentralized Finance(Defi), Stablecoins(algorithm stable coins, fiat-based stable coins & crypto-based stable coins), how to build smart contracts on Binance Smart Chain(BSC) using ChainIDE, solidity and Metamask & BNB on test net.</p>
    <p><span>01/2020 - 05/2020</span> <span class="font-weight-bold">Lakehub Academy,</span>Kisumu</p>
    <p>Full-Stack JavaScript</p>
  </div>
  <div>
    <h1 class="text-center">PROFESSIONAL EXPERIENCE</h1>
    <p><span>04/2021 - 05/2021</span> <span class="font-weight-bold">Open-Source Contributhon Intern,</span>SheCodeAfrica x Jenkins</p>
    <p class="font-weight-bold">Remote</p>
    <p><span>01/2021 - Currently</span> <span class="font-weight-bold">Development Mentor</span>Microverse</p>
    <p class="font-weight-bold">Remote</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>